{% extends 'base.html' %}

{% block content %}


<div class="alert alert-info" role="alert" id="myheader">
  <h6>These are all the ELINE LDP in Juniper CSD</h6>
</div>


<div class="table-responsive" id="mytable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID CSD</th>
        <th>State</th>
        <th>Client</th>
      </tr>
    </thead>
    <tbody>
      {% for eline in eline_all %}
        <tr>
          <td>
            <a href="{% url 'inventories:eline_ldp_one' eline.pk %}">{{ eline.name }}</a>
          </td>
          <td>
            {{ eline.id_csd }}
          </td>
          <td>
            {{ eline.state }}
          </td>
          <td>
            <a href="{% url 'inventories:client_one' eline.client.pk %}">{{ eline.client.name }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock content %}
